<?xml version="1.0"?>
<!-- Main launch file for EIT project - Quick connector -->
<launch>
    <param name="SIMULATION" type="boolean" value="$(optenv ROS_SIMULATION true)"/>
    <arg name="SIMULATION" default="$(optenv ROS_SIMULATION true)"/>"
    
    <node name="video_publisher" pkg="eit_playground" type="video_publisher.py" if="$(eval arg('SIMULATION') == false)"/>
    <node name="aruco_pose_estimation" pkg="eit_playground" type="aruco_pose_estimation.py"/>
    <node name="offb_node_guidance" pkg="eit_playground" type="offb_node_guidance"/>
</launch>
